{% extends "base.html" %}

{% block title %}Вход{% endblock %}
{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h2 class="mb-4 text-center">Вход</h2>
        <a href="{% url 'login_google' %}">Login with Google </a>
    {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
    {% endif %}


    <form method="post" action="{% url 'user_login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary w-100">Войти</button>
    </form>
</div>
{% endblock %}
