{% extends 'base.html' %}

{% block content %}
  {% if request.GET.deleted == 'true' %}
    <div class="alert alert-success">Ссылка успешно удалена</div>
  {% elif request.GET.deleted == 'false' %}
    <div class="alert alert-danger">Ошибка</div>
  {% endif %}

  {% if request.GET.copied == 'true' %}
    <div class="alert alert-success">Ссылка скопирована</div>
  {% endif %}

  <div class="d-flex justify-content-between align-items-center mb-3">
    <a href="{% url 'stats' %}?days==7" class="btn btn-outline-primary">За 7 дней</a>
    <a href="{% url 'stats' %}" class="btn btn-outline-secondary">Все ссылки</a>
  </div>
  <form method="get">
    <input type="text" name="s" placeholder="Введите имя сайта" value="{{ query }}"></form>>
  </form>
  {% if urls %}
    {% for url in urls %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">SHORT LINK: {{ url.code }}</h5>
          <p class="card-text">ORIGINAL URL: {{ url.original_url }}</p>
          <p class="card-text">CREATED ON: {{ url.created_at }}</p>
          <p class="card-text">CLICKS (all time): {{ url.click_count }}</p>
          <p class="card-text">CLICKS (last 7 days): {{ url.clicks_last_week }}</p>

          <form action="{% url 'link_delete' url.pk %}" method="post" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
          </form>

          <a class="btn btn-secondary btn-sm" href="{% url 'link_copy' url.pk %}">Копировать</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
      <p>Нет ссылок</p>
  {% endif %}
{% endblock %}

<script>
function copyLink() {
  const linkField = document.getElementById("shortLink");
  linkField.select();
  linkField.setSelectionRange(0, 99999); // для мобильных
  navigator.clipboard.writeText(linkField.value)
    .then(() => alert("Ссылка скопирована!"))
    .catch(err => console.error("Ошибка копирования:", err));
}
</script>

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".delete-btn").forEach(btn => {
    btn.addEventListener("click", function() {
      const code = this.dataset.code;
      fetch(`/delete/${code}/`, {
        method: "POST",
        headers: {
          "X-CSRFToken": "{{ csrf_token }}",
        }
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          document.getElementById(`row-${code}`).remove();
        }
      });
    });
  });
});
</script>